// Reset
html {
  box-sizing: border-box;
}

html, body, * {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: $black;

  &.barcelona {
    background-color: $grey;
  }
}

main {
  min-height: 45vh;
}

// Offset
header .container,
main .container,
footer {
  max-width: $max-width;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 90vw;

  @media only screen and (min-width: map-get($breakpoints, extreme)){ /* 1200 + 120 = 1320px */
    padding-left: 0;
    padding-left: calc((100vw - #{$max-width})/2);
    padding-right: calc((100vw - #{$max-width})/2);
  }
}

// .page-enter-active, .page-leave-active {
//   transition: all .25s;
// }
// .page-enter, .page-leave-active {
//   display: none;
//   // transform-origin: 50% 50%;
// }
