.barcelona {
  h1 {
    color: $black;
  }

  h2 {
    color: $black;
  }

  h3 {
    color: $black;
  }

  .logo {
    h1 {
      color: $black;
    }
  }

  .page-index {
    .logo {
      h1 {
        color: $white;
      }
    }

    nav {
      a {
        color: $white;
      }

      a:hover {
        color: $white;
      }
    }
  }

  nav {
    a {
      color: $black;
    }

    a:hover {
      background-color: $green;
      color: $grey;
    }
  }

  header {
    h1 {
      color: $white;
    }
  }

  .teaser {
    h1 {
      color: $white;
    }

    * {
      color: $white;
    }
  }

  p, a, button, strong, em, input, span {
    color: $black;
  }

  .follow-us {
    img {
      filter: none;
    }
  }
}
