.barcelona {
  h1 {
    color: $black;
  }

  h2, .page-approach .services .title {
    color: $black;
  }

  h3 {
    color: $black;
  }

  .logo {
    h1 {
      color: $black;
    }
  }

  .page-index {
    .logo {
      h2 {
        color: $white;
      }
    }

    nav {
      a {
        color: $white;
      }

      a:hover, a.nuxt-link-active {
        color: $white;
      }
    }
  }

  nav {
    a {
      color: $black;
    }

    a:hover, a.nuxt-link-active {
      background-color: $green;
      color: $grey;
    }
  }

  header {
    h1 {
      color: $white;
    }
  }

  .teaser {
    h1 {
      color: $white;
    }

    * {
      color: $white;
    }

    strong::after {
      box-shadow: inset 0px -15px 0px -5px rgba($white, 0.3);

      @media only screen and (min-width: map-get($breakpoints, medium)){
        box-shadow: inset 0px -17.5px 0px -5px rgba($white, 0.3);
      }
    }
  }

  h1 {
    strong::after {
      animation: stretchRightBarcelona 0.5s forwards ease-out;
      box-shadow: inset 0px -15px 0px -5px rgba($green, 0.5);

      @media only screen and (min-width: map-get($breakpoints, medium)){
        box-shadow: inset 0px -17.5px 0px -5px rgba($green, 0.5);
      }
    }
  }

  p, a, button, strong, em, input, span {
    color: $black;
  }

  footer {
    a {
      &:hover {
        color: $green;
      }
    }
  }

  .follow-us {
    img {
      filter: none;

      &:hover {
        filter: invert(24%) sepia(14%) saturate(3753%) hue-rotate(130deg) brightness(91%) contrast(101%);
      }
    }

    a:hover {
      background-color: transparent;
    }
  }
}
