/**
 * Basic typography style for copy text
 */

* {
  font-family: $font;
}

h1 {
  @include font-size($font-size-header-big);
  line-height: 1.24;
  color: white;

  strong {
    @include font-size($font-size-header-big);
    transition: .3s;
    box-shadow: inset 0px -15px 5px -1px rgba($orange, 0.6);
  }

  &.barcelona {
    strong{
      transition: .3s;
      box-shadow: inset 0px -15px 5px -5px rgba($green, 0.6);
    }
  }
}

h2 {
  @include font-size($font-size-header-medium);
  line-height: 1.3;
}

h3 {
  @include font-size($font-size-header-small);
  line-height: 1.3;
}

span {
  @include font-size($font-size-sub-header-small);
  line-height: 1.3;

  &.big-sub-header {
    @include font-size($font-size-sub-header-big);
  }
}

p, a, button, strong, em, input, span {
  @include font-size($font-size-text-big);
  text-decoration: none;
  color: $white;

  &.small-text {
    @include font-size($font-size-text-small);
  }
}

.cta {
  font-style: italic;
}

nav {
  a {
    @include font-size($font-size-menu);
    color: $white;
    text-decoration: none;
    font-weight: 200;

    &:hover {
      background-color: $orange;
    }
  }
}
