* {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h1 > strong, .contact-heading, .cta-contact-page span {
  @include font-size($font-size-header-big);
  font-weight: bold;
  line-height: 1.24;
  color: $white;
  @media screen and (min-width: 1270px) and (max-width: map-get($breakpoints, large)){
    font-size: 2.5rem;
  }

}

h2, .page-approach .services .title {
  @include font-size($font-size-header-medium);
  line-height: 1.3;
  font-weight: bold;
  color: $white;
}

h3 {
  @include font-size($font-size-header-small);
  line-height: 1.3;
  font-weight: bold;
  color: $white;
}

.cta {
  @include font-size($font-size-cta-small);
  line-height: 1.3;
  font-style: italic;
}

strong {
  @include font-size($font-size-header-big);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    margin-left: -100%;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -15px 0px -5px rgba($orange, 0.5);
    z-index: -1;
    display: inline-block;
    transform-origin: left;
    animation: stretchRightAmsterdam 0.5s forwards ease-out;

    @media only screen and (min-width: map-get($breakpoints, medium)){
      box-shadow: inset 0px -17.5px 0px -5px rgba($orange, 0.5);
    }
  }
}

.teaser {
  .cta {
    @include font-size($font-size-cta-big);
  }

  strong::after {
    z-index: 0;
    box-shadow: inset 0px -15px 0px -5px rgba($white, 0.3);

    @media only screen and (min-width: map-get($breakpoints, medium)){
      box-shadow: inset 0px -17.5px 0px -5px rgba($orange, 0.5);
    }
  }
}

p, a, button, strong, em, input, span {
  @include font-size($font-size-text-big);
  text-decoration: none;
  color: $white;

  &.small-text, sub, &.small-text > p {
    line-height: 1.5;
    @include font-size($font-size-text-small);
  }
}

.caption {
  @include font-size($font-size-caption);
}

nav {
  a {
    @include font-size($font-size-menu);
    color: $white;
    text-decoration: none;
    font-weight: 200;

    &:hover {
      background-color: $orange;
      color: $grey;
    }
  }
}
