// Grid column width
@function column-width-null($numberColumns, $numberGutters){
  $column-width: calc((((90vw - (3 * 10px)) / 4) * #{$numberColumns}) + ((#{$numberGutters} - 1) * 10px));
  @return $column-width;
}

@function column-width-small($numberColumns, $numberGutters){
  $column-width: calc((((90vw - (5 * 15px)) / 6) * #{$numberColumns}) + ((#{$numberGutters}) * 15px));
  @return $column-width;
}

@function column-width-medium($numberColumns, $numberGutters){
  $column-width: calc((((90vw - (7 * 20px)) / 8) * #{$numberColumns}) + ((#{$numberGutters}) * 20px));
  @return $column-width;
}

@function column-width-large($numberColumns, $numberGutters){
  $column-width: calc((((90vw - (11 * 30px)) / 12) * #{$numberColumns}) + ((#{$numberGutters}) * 30px));
  @return $column-width;
}

@function column-width-extreme($numberColumns, $numberGutters){
  $column-width: calc((((#{$max-width} - (11 * 30px)) / 12) * #{$numberColumns}) + ((#{$numberGutters}) * 30px));
  @return $column-width;
}
