// Font family
  @font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('~@/assets/fonts/AkzidenzGroteskBQ-Reg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('~@/assets/fonts/AkzidenzGroteskBQ-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('~@/assets/fonts/AkzidenzGroteskBQ-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

  $font: 'AkzidenzGrotesk', sans-serif;

// Font sizes
  // Header big
  $font-size-header-big: (
    null    : 1.75rem,
    'small': 2.250rem,
    'large': 2.813rem
  );

  // Header medium
  $font-size-header-medium: (
    null    : 1.44rem,
    'small': 1.75rem,
    'large': 2.19rem
  );

  // Header small
  $font-size-header-small: (
    null    : 1rem,
    'large': 1.125rem
  );

  // CTA big
  $font-size-cta-big: (
    null    : 1rem,
    'medium': 1.3125rem,
    'large': 1.5rem
  );

  // CTA small
  $font-size-cta-small: (
    null    : 1rem,
    'large': 1.125rem
  );

  // Text big
  $font-size-text-big: (
    null    : 1.25rem,
    'large': 1.375rem
  );

  // Text small
  $font-size-text-small: (
    null    : 1rem,
    'large': 1.125rem
  );

  // Menu
  $font-size-menu: (
    null    : 1rem
  );

  // Caption
  $font-size-caption: (
    null    : 0.875rem,
    'small': 1.0625rem,
    'large': 1.25rem
  );


// Colors
  $white: #FFF;
  $black: #000;
  $green: #004F44;
  $orange: #E67650;
  $grey: #EBEBEA;


// Max width
  $max-width: 1296px;


// Breakpoints
  $breakpoints: (
    'small': 48em, /* 768px iPad Portrait */
    'medium': 64em, /* 1024px - iPad Landscape */
    'large': 81em, /* 1280px - 13 inch - officially 80em but it didn't fit nicely */
    'extreme': 90em, /* 1440px - 15 inch */
  );
