// Font family
  @font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('~@/assets/fonts/AkzidenzGrotesk-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('~@/assets/fonts/AkzidenzGrotesk-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('~@/assets/fonts/AkzidenzGrotesk-Italic.otf') format('otf');
    font-weight: italic;
    font-style: normal;
  }

  $font: 'AkizdenzGrotesk', sans-serif;

// Font sizes
  // Header big
  $font-size-header-big: (
    null    : 1.75rem,
    'medium': 2.813rem
  );

  // Header medium
  $font-size-header-medium: (
    null    : 1.44rem,
    'medium': 2.19rem
  );

  // Header small
  $font-size-header-small: (
    null    : 1rem,
    'medium': 1.125rem
  );

  // CTA big
  $font-size-cta-big: (
    null    : 1rem,
    'medium': 1.5rem
  );

  // CTA small
  $font-size-cta-small: (
    null    : 1rem,
    'medium': 1.125rem
  );

  // Text big
  $font-size-text-big: (
    null    : 1.25rem,
    'medium': 1.375rem
  );

  // Text small
  $font-size-text-small: (
    null    : 1rem,
    'medium': 1.125rem
  );

  // Menu
  $font-size-menu: (
    null    : 1rem
  );

  // Caption
  // $font-size-caption: (
  //   null    : 1rem
  // );

  // Label
  $font-size-label: (
    null    : 0.8125rem,
    'medium': 1.25rem
  );



// Colors
  $white: #FFF;
  $black: #000;
  $green: #004F44;
  $orange: #E67650;
  $grey: #EBEBEA;


// Max width
  $max-width: 1296px;


// Breakpoints
  $breakpoints: (
    'small': 48em, /* 768px */
    'medium': 62em, /* 992px */
    'large': 75em, /* 1200px */
    'extreme': 89.063em, /* 1200 + 120 = 1320px */
  );
