.call-to-action {
  margin-bottom: 10vh;

  .text {
    margin-bottom: 2.5vh;

    @media only screen and (min-width: map-get($breakpoints, medium)){
      margin-bottom: 5vh;
    }
  }

  .cta::after {
    content:"";
    width: 100px;
    height: 1rem;
    margin-left: .25rem;
    display: inline-block;
    background-image: url('~@/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
