.call-to-action {
  margin-bottom: 10vh;

  .text {
    margin-bottom: 2.5vh;

    @media only screen and (min-width: map-get($breakpoints, medium)){
      margin-bottom: 5vh;
    }
  }

  a {

    .cta::after {
      transform: translate(0);
      transition: transform .2s ease;
    }

    &:hover {

      .cta::after {
        transform: translate(20px, 0);
      }
    }
  }

  .cta::after {
    content:"";
    width: 100px;
    height: 1rem;
    margin-left: 0rem;
    display: inline-block;
    background-image: url('~@/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .cta-contact {
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, small)){
      width: column-width-small(4, 3);
      margin-left: column-width-small(1, 1);
    }

    @media screen and (min-width: map-get($breakpoints, medium)){
      width: column-width-medium(4, 3);
      margin-left: column-width-medium(2, 2);
    }

    @media screen and (min-width: map-get($breakpoints, large)){
      width: column-width-large(6, 5);
      margin-left: column-width-large(3, 3);
    }

    @media only screen and (min-width: map-get($breakpoints, extreme)){
      width: column-width-extreme(6, 5);
      margin-left: column-width-extreme(3, 3);
    }
  }
}

.cta-contact-page {
  &::after {
    transform: translate(0);
    transition: transform .2s ease;
    content:"";
    width: 100px;
    height: 1rem;
    margin-left: 0rem;
    display: inline-block;
    background-image: url('~@/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &:hover::after {
    transform: translate(20px, 0);
  }
}

.cta-link {
  font-style: italic;

  &::after {
    transform: translate(0);
    transition: transform .2s ease;
    content:"";
    width: 50px;
    height: 1rem;
    margin-left: 1rem;
    display: inline-block;
    background-image: url('~@/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &:hover::after {
    transform: translate(20px, 0);
  }
}

.barcelona {
  .cta::after, .cta-contact-page::after {
    background-image: url('~@/assets/images/arrow-black.svg');
  }

  .teaser {
    .cta::after {
      background-image: url('~@/assets/images/arrow.svg');
    }
  }
}
