.call-to-action {
  .text {
    margin-bottom: 5vh;
  }

  .cta::after {
    content:"";
    width: 100px;
    min-height: 1.25rem;
    height: 1.38rem;
    margin-left: 1.25vw;
    display: inline-block;
    background-image: url('~@/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
