.employees {

  h1, p {
    @media only screen and (min-width: map-get($breakpoints, large)){
      width: column-width-large(5, 4);
      margin-left: column-width-large(1, 1);
    }

    @media only screen and (min-width: map-get($breakpoints, extreme)){
      width: column-width-extreme(5, 4);
      margin-left: column-width-extreme(1, 1);
    }
  }

  .more-about {
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: map-get($breakpoints, large)){
      width: column-width-medium(4, 3);
      margin-right: column-width-medium(1, 1);
      float: right;
    }

    @media only screen and (min-width: map-get($breakpoints, extreme)){
      width: column-width-extreme(4, 3);
      margin-right: column-width-extreme(1, 1);
    }
  }

  img {
    width: 100%;
    margin-top: 2.5em;

    @media only screen and (min-width: map-get($breakpoints, large)){
      width: column-width-large(10, 9);
      margin-left: column-width-large(1, 1);
    }

    @media only screen and (min-width: map-get($breakpoints, extreme)){
      width: column-width-extreme(10, 9);
      margin-left: column-width-extreme(1, 1);
    }
  }
}
