.key-value {
  .text {
    @media only screen and (min-width: map-get($breakpoints, medium)){
      display: flex;

      h2 {
        width: column-width-medium(4, 4);
      }

      p {
        width: column-width-medium(3, 3);
        margin-left: column-width-medium(1, 1);
      }
    }

    @media only screen and (min-width: map-get($breakpoints, large)){
      h2 {
        width: column-width-large(5, 4);
      }

      p {
        width: column-width-large(4, 4);
        margin-left: column-width-large(2, 3);
      }
    }

    @media only screen and (min-width: map-get($breakpoints, extreme)){
      h2 {
        width: column-width-extreme(5, 4);
      }

      p {
        width: column-width-extreme(4, 4);
        margin-left: column-width-extreme(2, 3);
      }
    }
  }

  // Basic styling
  h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1.5em;
  }
}

.services {
  margin-bottom: 7.5em;

  @media only screen and (min-width: map-get($breakpoints, medium)){
    margin-bottom: 12.5em;
  }

  div {
    margin-bottom: .75em;
  }

  @media only screen and (min-width: map-get($breakpoints, medium)){

  }

  @media only screen and (min-width: map-get($breakpoints, large)){
    width: column-width-large(2, 1);
    margin-left: column-width-large(7, 7);
  }

  @media only screen and (min-width: map-get($breakpoints, extreme)){
    width: column-width-extreme(2, 1);
    margin-left: column-width-extreme(7, 7);
  }
}
