// -----------------------------------------------------------------------------
// This file contains all styles related to the .header-bar of the site/application.
// -----------------------------------------------------------------------------

nav {
  margin-top: 1.5vh;

  @media only screen and (min-width: map-get($breakpoints, medium)){
    margin: 0;
  }

  a {
    margin-right: 1.25vw;
    padding: .25vw;

    &:hover {
      background-color: $orange;
    }
  }

  &.barcelona {

    a:hover {
      background-color: $green;
    }
  }
}
