.projects {
  padding-top: 5em;
  margin-bottom: 10em;

  &::before {
    content:"";
    width: 105vw;
    left: -5vw;
    min-height: 250px;
    position: absolute;
    z-index: -1;
    margin-top: -9em;
    background-image: url('~@/assets/images/our-work-dark-mode-full.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    // background-attachment: fixed;

    @media only screen and (min-width: map-get($breakpoints, small)){
      width: 110vw;
      left: -5vw;
      margin-top: -7.5em;
    }

    @media only screen and (min-width: map-get($breakpoints, medium)){
      margin-top: -7.5em;
    }

    @media only screen and (min-width: map-get($breakpoints, extreme)){
      width: $max-width;
      left: calc((100vw - #{$max-width})/2)
    }
  }
}

.project {
  margin-top: 5em;

  h1 {
    margin-top: .25em;
    margin-bottom: .25em;
  }

  @media only screen and (min-width: map-get($breakpoints, medium)){

  }

  @media only screen and (min-width: map-get($breakpoints, large)){
    width: column-width-large(10, 9);
    margin-left: column-width-large(1, 1);
  }

  @media only screen and (min-width: map-get($breakpoints, extreme)){
    width: column-width-extreme(10, 9);
    margin-left: column-width-extreme(1, 1);
  }
}

.container-img {
  display: inline-block; /* shrink wrap to image */
  overflow: hidden; /* hide the excess */

  img {
    display: block; /* no whitespace */
    transition: .3s ease-in-out;
    width: 100%;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.service:not(:last-of-type)::after {
  content: ",";
  margin-right: .5rem;
}

.client, .service {
  display: inline-block;

  &:first-of-type::after {
    content:"";
    height: 3px;
    width: 25px;
    display: inline-block;
    position: relative;
    top: -5px;
    margin: 0 .75em;
    background-color: $green;
  }
}

.barcelona {
  .projects {
    &::before {
      background-image: url('~@/assets/images/our-work-light-mode-full.svg');
    }

    .caption {
      &:first-of-type::after {
        background-color: $orange;
      }
    }
  }
}
