.process {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5em;

  @media only screen and (min-width: map-get($breakpoints, medium)){
    flex-wrap: nowrap;
  }

  @media only screen and (min-width: map-get($breakpoints, large)){
    width: column-width-large(10, 9);
    margin-left: column-width-large(1, 1);
  }

  @media only screen and (min-width: map-get($breakpoints, extreme)){
    width: column-width-extreme(10, 9);
    margin-left: column-width-extreme(1, 1);
  }

  > div {
    width: 47.5%;
    margin-bottom: 2.5em;

    @media only screen and (min-width: map-get($breakpoints, small)){
      width: 22.5%;
    }

    @media only screen and (min-width: map-get($breakpoints, medium)){
      width: 18.5%;
    }

    .step {
      position: relative;
      width: 100%;
      background-color: $green;

      &::before {
        content: "";
        display: block;
      	// float: left;
      	padding-top: 100%; 	/* initial ratio of 1:1*/
      }

      h2 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        font-size: 10em;
        text-align: center;
        color: $black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h2.title {
        color: $white;
        z-index: 1;
        font-size: 1.25rem;
      }
    }

    p {
      text-align: center;
      margin-top: 1em;
    }
  }
}

.barcelona {
  .process {
    .step {
      background-color: $orange;

      h2 {
        color: $grey;
      }

      h2.title {
        color: $black;
      }
    }
  }
}
