.teaser {
  background-color: $green;
  height: 85vh;

  @media only screen and (min-width: map-get($breakpoints, medium)){
    height: 75vh;
  }

  &.barcelona {
    background-color: $orange;
  }

  h1 {
    margin-top: 10vh;
  }

  @supports (display: flex) {
    @media only screen and (min-width: map-get($breakpoints, medium)){
      .inner {
        display: flex;
        height: 82.5vh;

        .call-to-action {
          width: 50%;
          margin-right: 10%;
        }

        .city-images {
          width: 40%;
          align-self: flex-end;
        }
      }
    }
  }

  @supports (display: grid) {
    .inner {
      display: grid;
    }

    .call-to-action {
      width: 100% !important;
      margin: 0 !important;
      grid-column: 1/5;


      @media only screen and (min-width: map-get($breakpoints, medium)){
        grid-column: 1/5;
        grid-row: 1;
      }

      @media only screen and (min-width: map-get($breakpoints, large)){
        grid-column: 1/7;
      }
    }

    .city-images {
      width: 100% !important;
      grid-column: 1/5;
      display: flex;
      align-items: flex-end;
      padding-top: 5vh;

      @media only screen and (min-width: map-get($breakpoints, medium)){
        grid-column: 5/9;
        grid-row: 1;
        height: 81vh;
        padding-top: 0;
      }

      @media only screen and (min-width: map-get($breakpoints, large)){
        grid-column: 8/13;
      }
    }
  }
}

.city-images {
  span:last-of-type::after {
    content: "Barcelona";
    opacity: 0.5;
    margin-left: .5rem;
    text-decoration: line-through;
  }

  > div.barcelona {
    display: none;

    span:last-of-type::after {
      content: "Amsterdam";
    }
  }

  img {
    margin-top: 2.5vh;
    width: 100%;
  }
}
