header .container,
main .container,
footer .container {
  max-width: $max-width;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
}

/* use grid if supported */
@supports (display: grid) {
  main .inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 10px;

    * {
      grid-column: 1 / -1;
    }

    @media only screen and (min-width: map-get($breakpoints, small)){ /* 768px */
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 15px;
    }

    @media only screen and (min-width: map-get($breakpoints, medium)){ /* 992px */
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 20px;
    }

    @media only screen and (min-width: map-get($breakpoints, large)){ /* 1200px */
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 30px;
    }
  }
}

@media only screen and (min-width: map-get($breakpoints, extreme)){ /* 1200 + 120 = 1320px */
  header .container,
  main .container,
  footer .container {
    /* offset */
    margin-left: 0;
    margin-left: calc((100vw - 1200px)/2);
    margin-right: calc((100vw - 1200px)/2);
  }
}
