.page-index {
  header {
    background-color: $green;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 20000000;
  height: 5em;
  padding-top: 2.5vh;
  transition: top 0.2s ease-in-out;
  background-color: $black;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (min-width: map-get($breakpoints, medium)){
      align-items: flex-end;
    }

    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5vh;

      @media only screen and (min-width: map-get($breakpoints, medium)){
        flex-direction: row;
        align-items: flex-end;
        margin: 0;
      }
    }

    .logo {
      margin-right: 2.5vw;
    }
  }
}

.first {
  padding-top: 5vh;
}

.nav-up {
  top: -7.5em;
}

.barcelona {
  header {
    background-color: $grey;
  }

  .page-index {
    header {
      background-color: $orange;
    }
  }
}
