nav {
  margin-top: 1.5vh;

  @media only screen and (min-width: map-get($breakpoints, medium)){
    margin: 0;
  }

  a {
    margin-right: .1em;
    padding: .25em;

    @media only screen and (min-width: map-get($breakpoints, medium)){
      margin-right: 1em;
    }

    &:hover {
      background-color: $orange;
    }
  }
}

.barcelona {
  nav {
    a:hover {
      background-color: $green;
    }
  }
}
