.page-work-project {
  main .inner {
    padding-top: 30vh; /* header */
  }

  .project-subtitle > {
    h1 {
      margin: .5em 0 1em 0;

      @media only screen and (min-width: map-get($breakpoints, medium)){
        width: column-width-medium(7, 6);
      }

      @media only screen and (min-width: map-get($breakpoints, large)){
        width: column-width-large(9, 8);
        margin-left: column-width-large(1, 1);
      }

      @media only screen and (min-width: map-get($breakpoints, extreme)){
        width: column-width-extreme(9, 8);
        margin-left: column-width-extreme(1, 1);
      }
    }

    div {
      @media only screen and (min-width: map-get($breakpoints, medium)){
        width: column-width-medium(5, 4);
      }

      @media only screen and (min-width: map-get($breakpoints, large)){
        width: column-width-large(6, 5);
        margin-left: column-width-large(1, 1);
      }

      @media only screen and (min-width: map-get($breakpoints, extreme)){
        width: column-width-extreme(6, 5);
        margin-left: column-width-extreme(1, 1);
      }
    }
  }

  .project-detail {
    img, video {
      width: 100vw;
      margin: 5em 0;
      margin-left: -5vw;

      @media only screen and (min-width: map-get($breakpoints, small)){
        width: 100%;
        margin: 7.5em 0;
      }
    }

    img + img, img + video, video + img, video + video {
      margin-top: 0;
    }
  }

  .chapter {
    h2 {
      margin-bottom: .5em;
    }

    h2, p > p {
      @media only screen and (min-width: map-get($breakpoints, small)){
        width: column-width-small(4, 3);
        margin-left: column-width-small(1, 1);
      }

      @media only screen and (min-width: map-get($breakpoints, medium)){
        width: column-width-medium(4, 3);
        margin-left: column-width-medium(2, 2);

      }

      @media only screen and (min-width: map-get($breakpoints, large)){
        width: column-width-large(6, 5);
        margin-left: column-width-large(3, 3);
      }

      @media only screen and (min-width: map-get($breakpoints, extreme)){
        width: column-width-extreme(6, 5);
        margin-left: column-width-extreme(3, 3);
      }
    }
  }

  .meta {
    margin-top: 2.5em;
    margin-bottom: 7.5em;

    @media only screen and (min-width: map-get($breakpoints, small)){
      display: flex;
      flex-wrap: wrap;
    }

    @media only screen and (min-width: map-get($breakpoints, medium)){
      flex-wrap: nowrap;
    }

    h2 {
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .75em;
    }

    .cta-link {
      margin-bottom: .75em;
      display: block;
    }

    > div {
      margin-bottom: 2.5em;
      width: 100%;

      @media only screen and (min-width: map-get($breakpoints, small)){
        width: 50%;
      }

      @media only screen and (min-width: map-get($breakpoints, large)){
        width: column-width-large(2, 2);
        margin-right: column-width-large(1, 1);
      }

      @media only screen and (min-width: map-get($breakpoints, extreme)){
        width: column-width-extreme(2, 2);
        margin-right: column-width-extreme(1, 1);
      }

      &:last-of-type {
        @media only screen and (min-width: map-get($breakpoints, large)){
          width: column-width-large(3, 2);
          margin-right: 0;
        }

        @media only screen and (min-width: map-get($breakpoints, extreme)){
          width: column-width-extreme(3, 2);
          margin-right: 0;
        }
      }
    }
  }
  .date {
    text-transform: capitalize;
  }
}

.other-projects {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  margin-bottom: 7.5em;

  > div {
    width: calc((100% - 30px) / 2);

    .caption {
      margin-bottom: 1em;
    }

    h2 {
      margin-top: .5em;
    }
  }

  &:first-of-type {
    margin-left: 30px;
  }
}
