.page-work {
  .projects {
    margin-top: 30vh;

    @media only screen and (min-width: map-get($breakpoints, small)){
      margin-top: 40vh;
    }

    @media only screen and (min-width: map-get($breakpoints, medium)){
      margin-top: 40vh;
    }
  }
}
